<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="accessfilepath" value="C:\Projects\GrandDetour\GrandDetour\App_Data\access.xml"/>
      <add key="grantfilepath" value="C:\Projects\GrandDetour\GrandDetour\App_Data\App_Data\grantfirmware.txt"/>
      <add key="firmwarefiles" value="C:\Projects\GrandDetour\GrandDetour\App_Data\firmware\" />
      <add key="accessfilecache" value="1"/>
      <add key="emailfromemail" value="from@example.com"/>
      <add key="emailfromname" value="EcoConcierge Alt"/>
      <add key="mailserver" value="localhost"/>
      <add key="mailport" value="25"/>
      <add key="emaillogin" value=""/>
      <add key="emailpassword" value=""/>
      <add key="isactivedays" value="30"/>
      <add key="simplegrep" value="cmd,/c dir c:\windows"/>
      <add key="staticforward" value="http://localhost:61679/fwd.aspx?account={0}&amp;key={1}"/>
      <add key="autorenewson" value="12/31/2020 23:59:59"/>
      <add key="autothankyousubject" value="Thank You"/>
      <add key="autothankyoubody" value="{0}, Thank You Message Goes Here"/>
      <add key="supportemailfromemail" value="administrator@example.com"/>
      <add key="supportemailfromname" value="System Administrator"/>
    </appSettings>
  
    <connectionStrings />
    <system.web>
        <sessionState mode="Off"/>
        <compilation debug="true">
          <assemblies>
            <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
            <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
          </assemblies>
        </compilation>

        <authentication mode="None" />

      <pages>
        <controls>
          <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
          <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </controls>
     </pages>

      <httpHandlers>
        <add verb="GET" path="/honeywell_ecp/*" type="GrandDetour.FirmwareUpgrade, GrandDetour" />
      </httpHandlers>

      <httpModules>
        <remove name="OutputCache"/>
        <remove name="Session"/>
        <remove name="WindowsAuthentication"/>
        <remove name="FormsAuthentication"/>
        <remove name="PassportAuthentication"/>
        <remove name="RoleManager"/>
        <remove name="UrlAuthorization"/>
        <remove name="FileAuthorization"/>
        <remove name="AnonymousIdentification"/>
        <remove name="Profile"/>
        <remove name="ErrorHandlerModule"/>
        <remove name="ServiceModel"/>
      </httpModules>
      
    </system.web>

    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
                  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <providerOption name="CompilerVersion" value="v3.5"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
     </compilers>
    </system.codedom>
</configuration>
