<?xml version="1.0"?>


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="accessfilepath" value="/var/www/App_Data/access.xml" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="grantfilepath" value="/var/www/App_Data/grantfirmware.txt" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="firmwarefiles" value="/var/www/firmware/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="accessfilecache" value="1440 " xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailserver" value="commercial.email.server.example.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="mailport" value="587" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="emaillogin" value="outgoing.email.account@example.com" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="emailpassword" value="0utg0ing.em4il.p4ssw0rd" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="simplegrep" value="grep,&quot;{0}&quot; /var/log/nginx/access.log" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="staticforward" value="http://server./fwd.aspx?account={0}&amp;key={1}" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>